 * {
    font-family: 'Nunito', sans-serif;
 }

body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    background-color: #FE3C72;;
}

h1 {
    color: lightcyan;
    font-size: 80px;
    border-radius: 20px;
    border-color: lightcyan;
    border-width: medium;

}

#instruction {
    background-color: lightcyan;
    border-radius: 30px;
    padding: 10px 20px 20px 40px;
}

#start {
    background-color: lightcoral;
    color: black;
    border-color: whitesmoke;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 20px;
    border-width: thick;
    margin-top: 20px;
}




/* CSS code for Game Page */
#game {
    background-color: lightcyan;
    border-radius: 30px;
    border-color: black;
    border-width: medium;
    padding: 5px 20px 20px 20px;
    width: 350px;
    box-shadow:  25px 25px 50px #66182e, 
    -25px -25px 50px #ff60b6;
  
}

.score-board {
    display: flex;
    justify-content: space-between;
}

#head {
    text-align: center;
    font-size: 30px;
}

#player1 {
    padding: 5px 20px 5px 10px;
    font-size: 20px;
    border-radius: 10px;
}

#player2 {
    padding: 5px 20px 5px 10px;
    font-size: 20px;
    border-radius: 10px;

}

.choices {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices button {
    background-color: lightcoral;
    color: black;
    border-color: black;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 20px;
    border-width: medium;
    margin-top: 20px;
    display: block;
}

#t:hover{
    transform: scale(1.1);
}

#d:hover {
    transform: scale(1.1);
}

#r:hover{
    transform: scale(1.1);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #888;
    border-width: medium;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
#did {
    color: black;
    font-size: 20px;
    font-weight: thin;
    border-radius: 10px;
    background-color: lightgreen;
    border-width: medium;
    display: inline-block;
}

#nope {
    color: black;
    font-size: 20px;
    font-weight: thin;
    border-radius: 10px;
    background-color: lightpink;
    border-width: medium;
    display: inline-block;
}
  
#did:hover,
#did:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
}

#nope:hover,
#nope:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
}


/* RANDOM MODAL */
.rModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.r-modal-content {
    background-color: lightcoral;
    margin: 15% auto; /* 15% from the top and centered */
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #888;
    border-width: medium;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
#rDid {
    color: black;
    font-size: 20px;
    font-weight: thin;
    border-radius: 20px;
    background-color: lightgreen;
    border-width: medium;
    display: inline-block;
}

#rNope {
    color: black;
    font-size: 20px;
    font-weight: thin;
    border-radius: 20px;
    background-color: lightpink;
    border-width: medium;
    display: inline-block;
}
  
#rDid:hover,
#rDid:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
}

#rNope:hover,
#rNope:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
}